<div class="nav-bar">
  <ul>
    <li><a [routerLink]="['rxjs']">Rxjs </a></li>
    <li><a [routerLink]="['view-container']">View Container</a></li>
    <li><a [routerLink]="['dependency-injection']">Dependency Injection</a></li>
    <li><a [routerLink]="['typed-forms']">Typed Forms</a></li>
    <li><a [routerLink]="['parent']">Parent</a></li>
    <li><a [routerLink]="['signals']">Signals</a></li>
    <li><a (click)="sendMessage()">Content Projection</a></li>
    <li><a [routerLink]="['ngrx']">ngRx</a></li>
  </ul>
</div>

<router-outlet></router-outlet>